#region class {{ClassName}}
public class {{ClassName}} : Institution<{{ClassName}}.Store>
{

    #region class Store
    public class Store : Institution.InstitutionState
    {
        {{#each Properties}}
        public {{Type}} {{Name}} { get; set; }
        {{/each}}

        public Store(Institution ei) : base(ei) {}
    }
    #endregion

    // constructor 

    public {{ClassName}}() : base("{{Id}}") {
        this.Name = "{{Name}}";
        this.Description = "{{Description}}";

        // init organisations 
        this.AddOrganisations(new Organisation[] {
            {{#each Organisations}}
            new {{ClassName}}(),
            {{/each}}
        });
        

        // init roles
        this.AddRoles(new Role[] {
            {{#each Roles}}
            new {{ClassName}}(),
            {{/each}}
        });

        // init workflows
        this.AddWorkflows(new Workflow[] {
            {{#each Workflows}}
            new {{ClassName}}(this),
            {{/each}}
        });
        
        // set main workfloe
        if (this.Workflows == null || this.Workflows.Count == 0) {
            throw new Exception("You need to define at least one workflow!");
        }
        this.MainWorkflowId = this.Workflows[0].Id;

        // init security

        this.AuthenticationPermissions.Add(new AuthorisationInfo[] {
            {{#each Authorisation}}
            new AuthorisationInfo({{nullString User}}, {{nullString Password}}, {{nullString Organisation}}{{#each Groups}}, this.GroupById({{nullString OrganisationId}}, {{nullString RoleId}}){{/each}}),
            {{/each}}
        });
        

        // init expressions
        {{#if Expressions}}
        this.AddExpressions(i => { {{{ Expressions }}}; });
        {{/if}}
        
    }

    // abstract implementation

    public override Institution Instance => new {{ClassName}}();

    public override Institution.InstitutionState Resources => new {{ClassName}}.Store(this);
}
#endregion
