#region class {{ClassName}}
public class {{ClassName}} : Workflow {

    // store
    #region Store
    public new class Store : Workflow.Store {
        {{#each Properties}}
        public {{Type}} {{Name}} { get; set; }
        {{/each}} 
    }
    #endregion

    // workflow actions

    #region Action Parameters
    {{#each Actions}}{{ generateParameters . ../ClassName }}{{/each}}   
    #endregion

    // abstract implementation

    public override bool Stateless => {{ lowerCase Stateless }};
    public override bool Static => {{ lowerCase Static }};
    public override Workflow.Store CreateStore() {
        return new {{ClassName}}.Store();
    }

    // constructor

    public MainWorkflow(): this(null) { }

    public MainWorkflow(Institution ei) : base(ei, "{{ Id }}") {
        this.Name = "Main"; 

        // actions
        this.AddActions(new ActionBase [] {
            {{#each Actions}}
            {{ generateConstructor . ../ClassName }},
            {{/each}}   
        });

        // states
    }
}
#endregion